*{
    color:black;
}
body{
    background-color:#cacacaf3;
}
.wrap {
    width: 60%; 
    margin: auto;
}
.pozadina{
    background-color: #b1aeae;
    padding-top:15px;
    position: relative;
}
p{
    /*font-weight: bold;*/
}
.navbar-brand {
    padding: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}
.navbar-default {
    background-color: #065985;
    border-color: #e7e7e7;
}
.dropdown-menu {
    background-color: #065985;
}
.dropdown-menu>li>a {
    color:white;
}
.navbar {
    margin-bottom: 0;
}

.navbar-left {
    float: right!important;
}

.panel-default {
    background-color:#ffffff;
}

.futer {
    text-align:center; 
    color:white; 
    background-color: #065985;
    margin:auto;
}
.panel-default>.panel-heading {
    color: #333;
    background-color:rgb(235, 235, 235);
    border-color: #ddd;
}
.mapa{
    text-align: center; 
    height: 100%;
}
.servis{
    text-align: center;
    height:100%;
}
.sadržaj{
    float:left;
    width:65%;
}
.sidebar{
    float:right;
    width:30%;
}
.row {
     margin: auto;
     
}
